$border-default: 4px solid black;
$backgroun-utama: #008080;
$teks-putih: white;
.title {
 background: $backgroun-utama;
 color: $teks-putih;
 border: {
 top: $border-default;
 bottom: $border-default;
 }
 text-align: center;
 padding: 60px;
 font-family: sans;
 .slogan {
 font-size: 18px;
 color: $teks-putih;
 }
}